{
  "hard_coded_contacts": ["159.69.7.192:5483", "144.76.32.52:5483"],
  "tcp_acceptor_port": null,
  "force_acceptor_port_in_ext_ep": false,
  "service_discovery_port": null,
  "bootstrap_cache_name": null,
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "network_name": "hytraTestNet",
  "dev": {
    "disable_external_reachability_requirement": true
  }
}
