{
  "hard_coded_contacts": [
	"116.203.18.74:5483",
	"116.203.22.156:5483",
	"116.203.22.248:5483",
	"116.203.22.159:5483",
	"116.203.22.158:5483",
	"116.203.37.57:5483",
	"116.203.46.173:5483",
	"116.203.38.253:5483"
	],
  "tcp_acceptor_port": 5483,
  "force_acceptor_port_in_ext_ep": false,
  "service_discovery_port": 5484,
  "bootstrap_cache_name": null,
  "whitelisted_node_ips": null,
  "whitelisted_client_ips": null,
  "network_name": "EO Network Alpha",
  "dev": {
    "disable_external_reachability_requirement": true
  }
}
